test1/biblio.dtd

<!ELEMENT biblio ( etudiant+ ) >
<!ELEMENT etudiant ( livre+ ) >
<!ELEMENT livre EMPTY >
<!ATTLIST etudiant 
                  code CDATA #REQUIRED
                  nom CDATA #REQUIRED
                  prenom CDATA #REQUIRED
                  age CDATA #REQUIRED>
                  
<!ATTLIST livre 
				  id NMTOKEN #REQUIRED
				  titre CDATA #REQUIRED
				  datePret CDATA #REQUIRED
				  rendu (oui|non) 'non'>
				  

